@model SabalanTracking.Models.Proces

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Proces</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProcessNameId" class="control-label"></label>
                <select asp-for="ProcessNameId" class="form-control" asp-items="ViewBag.ProcessNameId"></select>
                <span asp-validation-for="ProcessNameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceId" class="control-label"></label>
                <select asp-for="DeviceId" class="form-control" asp-items="ViewBag.DeviceId"></select>
                <span asp-validation-for="DeviceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialId" class="control-label"></label>
                <select asp-for="MaterialId" class="form-control" asp-items="ViewBag.MaterialId"></select>
                <span asp-validation-for="MaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SN" class="control-label"></label>
                <input asp-for="SN" class="form-control" />
                <span asp-validation-for="SN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
