@model IEnumerable<SabalanTracking.Models.ProcessName>

@{
    ViewData["Title"] = "نام فرآیندها";
}

<h1>لیست نام فرآیندها</h1>

<a class="text-success" asp-action="Create"><h2>جدید</h2></a>
<table class="table">
    <thead>
        <tr>
            <th>
                نام فرآیند
            </th>
            <th>
                کد فرآیند
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    <a class="text-sccess" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @if (item.Processes.Count == 0)
                    {
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
